<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">

    <title>Ассортимент</title>
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader" bis_skin_checked="1">

    </div>
    <div class="navbar navbar-dark bg-dark box-shadow" bis_skin_checked="1">
        <div class="container d-flex justify-content-between" bis_skin_checked="1">
            <a href="#" class="navbar-brand d-flex align-items-center">
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->

    <strong>Построй свой дом</strong>
            </a>
            <a class="btn btn-outline-primary" href="/info">Оставить заявку</a>
        </div>
    </div>
</header>
<section class="jumbotron text-center">
    <div class="container" bis_skin_checked="1">
        <br>
        <br>
        <h1 class="jumbotron-heading">Каталог товаров</h1>
        <p class="lead text-muted">В нашем магазине находится более 1000 единиц различных строительных и отделочных материалов для постройки вашего дома мечты.</p>
        <p>
            <a href="/" class="btn btn-secondary my-2">Построй свой дом</a>
        </p>
    </div>
</section>



<div class="album py-5 bg-light" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">

        <div class="row" bis_skin_checked="1">
            <div class="col-md-4" bis_skin_checked="1">
                <div class="card mb-4 box-shadow" bis_skin_checked="1">
                    <img class="card-img-top" src="https://sun9-42.userapi.com/s/v1/ig2/ahUQ-0kkbzQlNFjo9raD9FcjE7hfwZwuAICvw0wbVlTJGoFGB9Ky_jKilcWciZzWmbQSBemCi55zCEaXsI0aErvJ.jpg?quality=95&as=32x32,48x48,72x72,108x108,160x160,240x240,354x354&from=bu&u=CtUT2bOdL9pWSBHu7LfyUj8vc-Kgy4JK3lbMY8YXExQ&cs=354x354">
                    <div class="card-body" bis_skin_checked="1">
                        <a href="/catalog/siding" class="card-text">Сайдинг</a>
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="btn-group" bis_skin_checked="1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" bis_skin_checked="1">
                <div class="card mb-4 box-shadow" bis_skin_checked="1">
                    <img class="card-img-top" src="https://www.docke.ru/upload/webp/series_card/iblock/711/82cg08iiq0xxv77fp0ztwwkn2on8iz7t/SLATE_val_garden_BIG1_1400_4000_1_410_410.webp">
                    <div class="card-body" bis_skin_checked="1">
                        <a href="/catalog/facadePanels" class="card-text">Фасадные панели</a>
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="btn-group" bis_skin_checked="1">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" bis_skin_checked="1">
                <div class="card mb-4 box-shadow" bis_skin_checked="1">
                    <img src="https://sun9-33.userapi.com/s/v1/ig2/1r7Gk1cIB4vXEWz0tWOG3ZtQSpOhwed0F9eJjALx7nlt3wytkH_EXH3g0zEx2C1FXGkNPq8ZGO-AAzYKUC8p_aa9.jpg?quality=95&as=32x32,48x48,72x72,108x108,160x160,240x240,354x354&from=bu&u=HXGK6Dh95fxAJdSfIVUJWOUuW4oXjAxancab86hHJzs&cs=354x354" alt="">
                    <div class="card-body" bis_skin_checked="1">
                        <a href="/catalog/facadeTiles" class="card-text">Фасадная плитка</a>
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="btn-group" bis_skin_checked="1">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4" bis_skin_checked="1">-->
<!--                <div class="card mb-4 box-shadow" bis_skin_checked="1">-->
<!--                    <img src="https://sun9-41.userapi.com/s/v1/ig2/kRj5GU-JsoLeBrIRVf_krAuvqpXAcFPfZdjTGAZYVN22SXYmnvo0kE2Lb99d3phOs9u-qvxZkAPugRlmCLW9DTqF.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,240x240,354x354&from=bu&u=8uL3mKwnCZHi2WBiWWfussDExpwRS7SfXrM6000syQQ&cs=354x354">-->
<!--                    <div class="card-body" bis_skin_checked="1">-->
<!--                        <a href="/catalog/gutters" class="card-text">Водостоки</a>-->
<!--                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">-->
<!--                            <div class="btn-group" bis_skin_checked="1">-->

<!--                            </div>-->
<!--                            <small class="text-muted"></small>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


            <div class="col-md-4" bis_skin_checked="1">
                <div class="card mb-4 box-shadow" bis_skin_checked="1">
                    <img src="https://sun9-48.userapi.com/s/v1/ig2/AvFoaaQ4_epknpg0wLfr9WPW6lrT-jWQgGg_j400ZhdwDenfb8eKhyCm4iMQOlzshKfsHspwdA2zXcWDtel5yJ8O.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,240x240,354x354&from=bu&u=tDwXXPBqWP2xQrEY-eTiEqFbFejMPJ9B19GQ7ykBObM&cs=354x354" alt="">
                     <div class="card-body" bis_skin_checked="1">
                        <a href="/catalog/flexibleTiles" class="card-text">Гибкая черепица</a>
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="btn-group" bis_skin_checked="1">

                            </div>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="col-md-4" bis_skin_checked="1">-->
<!--                <div class="card mb-4 box-shadow" bis_skin_checked="1">-->
<!--                    <img src="https://sun9-78.userapi.com/s/v1/ig2/9T4VJki5j71GDwCd2xYwgcA0afE9uh3a4rxhqVvi434Qgkb7sgllI_0W1VBkB2ROP3_4fxbqJkD9xdRfoemp8Gta.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,240x240,354x354&from=bu&u=j3UBYAPf_2zryNXU72zmCzav501fr7Zdubsy82c6lrQ&cs=354x354" alt="">-->
<!--                    <div class="card-body" bis_skin_checked="1">-->
<!--                        <a href="/catalog/roofing" class="card-text">Для кровли</a>-->
<!--                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">-->
<!--                            <div class="btn-group" bis_skin_checked="1">-->

<!--                            </div>-->
<!--                            <small class="text-muted"></small>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            -->



        </div>
    </div>
</div>



<footer class="container py-5">
    <div class="row" bis_skin_checked="1">
        <div class="col-12 col-md" bis_skin_checked="1">
            <small class="d-block mb-3 text-muted">© 2020</small>
        </div>

        <div class="col-6 col-md" bis_skin_checked="1">
            <h5 >О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://vk.com/psd_soligorsk?from=search">VK</a></li>
                <li><a class="text-muted" href="https://www.instagram.com/postroy_svoy_dom_sol/">Instagram</a></li>
                Мы находимся по адресу: д.Метявичи, ул.Калинина д.17
            </ul>
        </div>
    </div>
</footer>
</body>
</html>